.App {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 10px;
}

header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #15101c;
  border-radius: 5px;
}

header .logo {
  display: flex;
  align-items: center;
  background-color: #15101c;
}

header .logo img {
  max-width: 40px;
  cursor: pointer;
}

header .logo span {
  font-size: 18px;
  margin-left: 12px;
  cursor: pointer;
  color: #9e78cf;
  background-color: #15101c;
}

header .themeSelector span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  border: 2px solid #9e78cf;
}

header .themeSelector .activeTheme {
  height: 25px;
  width: 25px;
}

.addTask {
  padding: 20px 15px;
  max-width: 500px;
  margin: auto;
}

.addTask form {
  display: flex;
  gap: 7px;
}

.addTask form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #9e78cf;
  border-radius: 10px;
  font-size: 10px;
  color: #9e78cf;
  background: #0d0714;
}

.addTask form input:focus {
  outline: 0.5px solid #eaeaea;
}

.addTask form button {
  background-color: #9e78cf;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 55px;
  height: 40px;
}

.addTask form button:hover {
  background-color: #32125c;
  transition: all 300ms;
}

.showTask {
  padding: 0px 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
}

.showTask div.head {
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
}

.showTask div.head div {
  flex-grow: 1;
}

.showTask .title {
  font-size: 18px;
  user-select: none;
  color: #ffffff;
}

.showTask .count {
  color: #ffffff;
  padding: 2px 5px;

  user-select: none;
  font-size: 18px;
}

.showTask .clearAll {
  background-color: #9e78cf;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 0px;
  font-size: 10px;
}

.showTask .clearAll:hover {
  background-color: #32125c;
  transition: all 300ms;
}

.showTask ul {
  margin: 30px 5px 30px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.showTask li {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  max-width: 480px;
  border-radius: 10px;
  background-color: #15101c;
  flex-wrap: wrap;
}

.showTask li span {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.showTask li .name {
  font-size: 12px;
  color: #9e78cf;
  background-color: #15101c;
}

.showTask li .time {
  font-size: 8px;
  color: #737373;
  background-color: #15101c;
}

.showTask li:hover {
  border-left: 2px solid #9a43af;
}

.img-button {
  background: transparent;
}

.img-button img {
  display: block;
  background: transparent;
}

.edit-button {
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.delete-button {
  margin: 0px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.update-button img {
  margin: 3px 0px 0px 0px;
  cursor: pointer;
  border: none;
  background: transparent;
  max-width: 20px;
}
