@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  background: #0d0714;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.light {
  background-color: #c1afdd;
  transition: all 500ms;
}
