@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #0d0714;
}

.default body {
  background-color: #0d0714;
  transition: all 500ms;
}

.light body {
  background-color: #424266;
  transition: all 500ms;
}

.default {
  background-color: #0d0714;
  transition: all 500ms;
}

.light {
  background-color: #424266;
  transition: all 500ms;
}
